<% if flash[:my_error] %>
    <% flash[:my_error].each do |err| %>
        Error Message: <%= err %><br>
    <% end %>
<% end %>

<div>
<%= bootstrap_form_for(@interviewee, layout: :inline) do |f| %>
    <%= f.text_field :name %> <br>
    <br>
    <%= f.text_field :username %><br>
    <br>
    <%= f.number_field :age %><br>
    <br>
    <%= f.text_field :password %><br>
    <br>
    <button type="submit" class="btn btn-primary mb-2">Submit</button>
    <% end %>
</div>