<h1><%=@interviewee.name%> Profile Page</h1>

<h3>Profile Details</h3>
Name: <%= @interviewee.name %><br>
Age: <%= @interviewee.age %><br>

<h3>Upcoming Interviews</h3>
<!--Lists upcoming interviews scheduled through interface-->
<% @interviewee.appointments.each do |appt| %>
<h4>Appointment Summary</h4>
    <p>Interview Date: <%= appt.date_clean %></p>
    <p>Interview Type: <%= appt.int_type%></p>
    <p>Inteview Difficulty: <%= appt.difficulty %></p>
    <p>Interivew Link/Location: <%= appt.link %></p>
    <p>Interview Notes: <%= appt.note %></p>
<% end %>

<h3>Total Money Spent To Date:</h3>
<!--Total money spent on interviews through the site-->
$ <%= @interviewee.total_spent %><br>


<h3>Coding Language of Choice:</h3>
<!-- Shows most popular interview coding language -->
Programming Language: <%= @interviewee.most_popular_language %> <br>
Number of Interviews: <%= @interviewee.most_popular_language_count %><br>



Most Frequent Interviewer:
<!--Ranks top interviewer based on frequency of interviews -->
Interviewer: <%= @interviewee.most_popular_interviewer %><br>
Number of Interviews: <%= @interviewee.most_popular_interviewer_count %><br>

<%= button_to "Appointment Scheduler", new_appointment_path %>

