<% if flash[:my_errors] %>
    <% flash[:my_errors].each do |err| %>
        Error Message: <%= err %><br>
    <% end %>
<% end %>


<%= form_for @interviewer do |f| %>
    <%= f.label :name %><br>
    <%= f.text_field :name %><br>
    
    <%= f.label :username %><br>
    <%= f.text_field :username %><br>

    <%= f.label :password %><br>
    <%= f.text_field :password %><br>

    <%= f.label :current_role %><br>
    <%= f.text_field :current_role %><br>

    <%= f.label :current_company %><br>
    <%= f.text_field :current_company %><br>

    <%= f.label :years_of_experience %><br>
    <%= f.number_field :years_of_experience %><br>

    <h3><%= f.label :language_id %></h3>
    <%= f.collection_select :language_id, @languages, :id, :prog_lang %><br>
    
    <%= f.label :interview_price %><br>
    <%= f.number_field :interview_price %><br>
    
    <%= f.submit %>
<% end %>