<% if flash[:my_errors] %>
    <% flash[:my_errors].each do |err| %>
        Error Message: <%= err %><br>
    <% end %>
<% end %>


<%= bootstrap_form_for(@interviewer, layout: :inline) do |f| %>
    <%= f.text_field :name %><br>
    <br>
    <%= f.text_field :username %><br>
    <br>
    <%= f.text_field :password %><br>
    <br>
    <%= f.text_field :current_role %><br>
    <br>
    <%= f.text_field :current_company %><br>
    <br>
    <%= f.number_field :years_of_experience %><br>
    <br>
    <%= f.collection_select :language_id, Language.all, :id, :prog_lang %><br>
    <br>
    <%= f.number_field :interview_price %><br>
    <br>
    <button type="submit" class="btn btn-primary mb-2">Submit</button>
<% end %>