<h1><%=@interviewer.name%> Profile Page</h1>


<h3>Profile Details:</h3>
Name: <%= @interviewer.name %><br>
Years of Experience: <%= @interviewer.years_of_experience %><br>
Current Role: <%= @interviewer.current_role %><br>
Current Company: <%= @interviewer.current_company %><br>
Programming Language: <%= @interviewer.prog_language %><br>
Interview Price: $<%= @interviewer.interview_price %><br>


<h3>My Upcoming Interviews:</h3>
<% @interviewer.upcoming_appt_times.each do |appt| %>
    <%= appt.interviewee.name %><br>
    <%= appt.date %><br>
<% end %>


<h3>Total Money Earned To Date:</h3>
<!--#needs to be somthing like count the total number of interviewees connected to the interviewer then multiply the interviewer rate by that number-->
$<%= @interviewer.total_money_earned %>
