<h1><%=@interviewer.name%> Profile Page</h1>


<h3>Profile Details:</h3>
Name: <%= @interviewer.name %><br>
Years of Experience: <%= @interviewer.years_of_experience %><br>
Current Role: <%= @interviewer.current_role %><br>
Current Company: <%= @interviewer.current_company %><br>
Programming Language: <%= @interviewer.prog_language %><br>
Interview Price: $<%= @interviewer.interview_price %><br>


<h3>My Upcoming Interviews:</h3>
<h4>Appointment Summary</h4>
<% @interviewer.upcoming_appt_times.each do |appt| %>
    <%= appt.interviewee.name %><br>
    <%= appt.date_clean %><br>
    <%= appt.int_type %>
<% end %>


<h3>Total Money Earned To Date:</h3>
$<%= @interviewer.total_money_earned %>
